<div class="modal-excluir">
  
  <div class="modal-header">
    <h2 class="modal-title">Excluir Contato</h2>        
    <mat-icon class="bt-fechar" (click)="fecharModal()">close</mat-icon>
  </div>
  <mat-dialog-content>
    <div class="content-modal-excluir">
        <p>Tem certeza que deseja excluir ?</p>          
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="footer-buttons">          
      <button mat-raised-button color="warn" (click)="excluir()">Excluir</button>
    </div>
  </mat-dialog-actions>
  
</div>